body {
  margin-top:50px;
  margin-bottom:60px;
  font-family: Palatino, sans-serif;
  line-height:155%;
  font-size: 14.4px;
}

a {
  color: #305b81;
  text-decoration: none;
}

a:hover {
  color:#c58b5c;
}

heading {
  font-size: 22px;
}

papertitle {
  font-size: 16px;
  font-weight: 1000
}

name {
  font-size: 32px;
  line-height:130%;
}

note {
  color: #080808a6;
  font-size: 13px;
}

.hidden {
  visibility: hidden;
  display: none;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.filter-link {
  font-size: 18px; /* Increased font size */
}

/* .one {
  width: 220px;
  height: 220px;
  position: relative;
} */